In [1]:
import pandas as pd
import xml.etree.ElementTree as ET
import os
from tqdm import tqdm

In [2]:
img_path = 'data/images/'
anno_path = 'data/annotations/'

In [3]:
train = pd.read_excel('./data/Training_set.xlsx')
train.head()

,Xml_name,Image_name,Person_only,Truck_only,Both
0,0001062.xml,0001062.jpg,0,1,0
1,0008873.xml,0008873.jpg,1,0,0
2,0000358.xml,0000358.jpg,1,1,1
3,0006315.xml,0006315.jpg,1,0,0
4,2018-05-31_10-59-12-265128_leftImg8bit.xml,2018-05-31_10-59-12-265128_leftImg8bit.jpg,1,1,1

In [4]:
test = pd.read_excel('./data/Test_set.xlsx')
test.head()

    Image_name
0  0003685.jpg
1  0006975.jpg
2  0000827.jpg
3  0000550.jpg
4  0001095.jpg

In [5]:
len(train)

400

In [6]:
os.getcwd()

'/home/ujjwal/Projects/Intel-Hackathon'

In [7]:
a = []
for f in tqdm(range(len(train))):
    img_file = os.path.join(img_path, train.iloc[f, 1])
    tree = ET.parse(os.path.join(anno_path, train.iloc[f, 0]))
    root = tree.getroot()
    for obj in root.iter('object'):
        cls = obj.find('name').text
        if cls in ['truck', 'rider', 'person']:    
            xmlbox = obj.find('bndbox')
            bbox = (int(xmlbox.find('xmin').text), int(xmlbox.find('ymin').text), int(xmlbox.find('xmax').text),
                    int(xmlbox.find('ymax').text))
            l = [os.getcwd() + '/' + img_file, str(bbox[0]), str(bbox[1]), str(bbox[2]), str(bbox[3]),cls]
            a.append(l)

100%|██████████| 400/400 [00:00<00:00, 2456.08it/s]

In [8]:
annotations = pd.DataFrame(a, columns=['image', 'xmin', 'ymix', 'xmax', 'ymax', 'class'])

In [9]:
annotations.head()

,image,xmin,ymix,xmax,ymax,class
0,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,876,531,919,545,vehicle fallback
1,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,877,544,924,572,bus
2,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,850,554,876,561,car
3,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,883,566,926,582,car
4,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,859,580,987,697,car

In [10]:
annotations.to_csv("./data/annotations.csv", index=False, header=False)

In [11]:
annotations.head()

,image,xmin,ymix,xmax,ymax,class
0,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,876,531,919,545,vehicle fallback
1,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,877,544,924,572,bus
2,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,850,554,876,561,car
3,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,883,566,926,582,car
4,/home/ujjwal/Projects/Intel-Hackathon/data/ima...,859,580,987,697,car

In [12]:
cls = annotations['class'].unique()
cls

array(['vehicle fallback', 'bus', 'car', 'truck', 'motorcycle',
       'autorickshaw', 'rider', 'person', 'traffic light', 'traffic sign',
       'animal', 'bicycle', 'caravan'], dtype=object)

In [13]:
class_ = pd.DataFrame(cls, columns=["class_name"])
class_['class_id'] = range(0,len(class_))
class_.head()

         class_name  class_id
0  vehicle fallback         0
1               bus         1
2               car         2
3             truck         3
4        motorcycle         4

In [14]:
class_.shape

(13, 2)

In [15]:
class_.to_csv('./data/class.csv', index=False, header=False)

In [24]:
cls_dict = {}
for i in range(len(class_)):
    cls_dict[class_.iloc[i, 1]] = class_.iloc[i, 0]

In [25]:
cls_dict

{0: 'vehicle fallback',
 1: 'bus',
 2: 'car',
 3: 'truck',
 4: 'motorcycle',
 5: 'autorickshaw',
 6: 'rider',
 7: 'person',
 8: 'traffic light',
 9: 'traffic sign',
 10: 'animal',
 11: 'bicycle',
 12: 'caravan'}