In [2]:
import pandas as pd
import xml.etree.ElementTree as ET
import os
from tqdm import tqdm

In [4]:
img_path = './data/JPEGImages/'
anno_path = './data/Annotations/'

In [3]:
work = {'train':[], 'val':[], 'test':[]}
for file in work.keys():
    f = open('../data/'+file+'.txt', 'r')
    for x in f:
        work[file].append(x[:-1])
    f.close()

In [4]:
work['train'][28]

'frontFar/BLR-2018-03-22_17-39-26_2_frontFar/000132_r'

In [5]:
processing = {'train':[], 'val':[]}
for t in processing.keys():
    for f in tqdm(range(len(work[t]))):
        img_file = os.path.join(img_path, work[t][f]+'.jpg')
        tree = ET.parse(os.path.join(anno_path, work[t][f]+'.xml'))
        root = tree.getroot()
        for obj in root.iter('object'):
            cls = obj.find('name').text
            xmlbox = obj.find('bndbox')
            bbox = (int(xmlbox.find('xmin').text), int(xmlbox.find('ymin').text), int(xmlbox.find('xmax').text),
                    int(xmlbox.find('ymax').text))
            l = [work[t][f]+'.jpg', str(bbox[0]), str(bbox[1]), str(bbox[2]), str(bbox[3]),cls]
            processing[t].append(l)
    
annotations_train = pd.DataFrame(processing['train'], columns=['image', 'xmin', 'ymix', 'xmax', 'ymax', 'class'])
annotations_val = pd.DataFrame(processing['val'], columns=['image', 'xmin', 'ymix', 'xmax', 'ymax', 'class'])
del processing

100%|██████████| 31569/31569 [00:03<00:00, 9516.64it/s]
100%|██████████| 10225/10225 [00:01<00:00, 8952.21it/s]

In [6]:
annotations_train.head()

,image,xmin,ymix,xmax,ymax,class
0,frontFar/BLR-2018-03-22_17-39-26_2_frontFar/00...,641,431,658,446,car
1,frontFar/BLR-2018-03-22_17-39-26_2_frontFar/00...,661,397,711,452,bus
2,frontFar/BLR-2018-03-22_17-39-26_2_frontFar/00...,593,405,639,466,autorickshaw
3,frontFar/BLR-2018-03-22_17-39-26_2_frontFar/00...,525,405,560,449,vehicle fallback
4,frontFar/BLR-2018-03-22_17-39-26_2_frontFar/00...,555,341,680,483,truck

In [7]:
annotations_val.head()

,image,xmin,ymix,xmax,ymax,class
0,frontFar/BLR-2018-04-16_16-14-27_frontFar/0006...,401,392,619,488,truck
1,frontFar/BLR-2018-04-16_16-14-27_frontFar/0006...,638,381,835,497,truck
2,frontFar/BLR-2018-04-16_16-14-27_frontFar/0006...,733,379,928,493,truck
3,frontFar/BLR-2018-04-16_16-14-27_frontFar/0006...,1093,486,1172,707,person
4,frontFar/BLR-2018-04-16_16-14-27_frontFar/0006...,1101,426,1144,463,motorcycle

In [8]:
annotations_train.to_csv("annotations_train.csv", index=False)
annotations_val.to_csv("annotations_val.csv", index=False)

In [9]:
cls = annotations_train['class'].unique()
cls

array(['car', 'bus', 'autorickshaw', 'vehicle fallback', 'truck',
       'motorcycle', 'rider', 'person', 'bicycle', 'animal',
       'traffic sign', 'train', 'trailer', 'traffic light', 'caravan'],
      dtype=object)

In [10]:
class_ = pd.DataFrame(cls, columns=["class_name"])
class_['class_id'] = range(0,len(class_))
class_.head()

         class_name  class_id
0               car         0
1               bus         1
2      autorickshaw         2
3  vehicle fallback         3
4             truck         4

In [11]:
class_.shape

(15, 2)

In [12]:
class_.to_csv('../data/class.csv', index=False, header=False)

In [13]:
cls_dict = {}
for i in range(len(class_)):
    cls_dict[class_.iloc[i, 1]] = class_.iloc[i, 0]
cls_dict

{0: 'car',
 1: 'bus',
 2: 'autorickshaw',
 3: 'vehicle fallback',
 4: 'truck',
 5: 'motorcycle',
 6: 'rider',
 7: 'person',
 8: 'bicycle',
 9: 'animal',
 10: 'traffic sign',
 11: 'train',
 12: 'trailer',
 13: 'traffic light',
 14: 'caravan'}

In [14]:
cls_dict.values()

dict_values(['car', 'bus', 'autorickshaw', 'vehicle fallback', 'truck', 'motorcycle', 'rider', 'person', 'bicycle', 'animal', 'traffic sign', 'train', 'trailer', 'traffic light', 'caravan'])